.NoteForm {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.NoteForm .Control,
.NoteForm .Textarea {
  display: block;
  background-color: transparent !important;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  padding-left: 0;
  padding-right: 0;
}

.NoteForm .Textarea {
  font-size: 14px;
  font-weight: 400;
  resize: none;
  flex: 1 1 auto;
  margin-top: 10px;
}
