@import url(https://fonts.googleapis.com/css?family=Rubik:regular,600,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: 'Rubik' !important;
  scroll-behavior: smooth;
  background-color: var(--background);
}

#root {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}